<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsas.model.dao.OperationLogMapper">
    <resultMap id="BaseResultMap" type="com.dsas.model.pojo.OperationLog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="username" javaType="STRING" property="username"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="model" jdbcType="VARCHAR" property="model"/>
        <result column="operation_time" jdbcType="TIMESTAMP" property="operationTime"/>
        <result column="result" jdbcType="VARCHAR" property="result"/>
    </resultMap>
    <sql id="Base_Column_List">id
    ,user_id,ip,`type`,description,model,operation_time,`result` </sql>

    <!--当对应的实体类属性和表中字段不一致，需要利用resultMap来添加映射，把数据库表属性和实体类字段进行绑定-->
    <!--使用resultType = "pojo" 会导致operationTime为空-->
    <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
        select du.username,
               do.id,
               do.ip,
               do.type,
               do.description,
               do.model,
               do.operation_time,
               do.result
        from dsas_operationLog as do , dsas_user as du where do.user_id = du.id and do.user_id = #{userId,jdbcType=INTEGER}
    </select>
    <insert id="save" parameterType="com.dsas.model.pojo.OperationLog">
        insert into dsas_operationLog(id, user_id, ip, `type`, description, model, operation_time, `result`) value ( #{id,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{ip,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},
            #{description,jdbcType=VARCHAR},#{model,jdbcType=VARCHAR},#{operationTime,jdbcType=TIMESTAMP},#{result,jdbcType=VARCHAR}
            )
    </insert>

    <select id="selectCountByTime" resultType="Integer">
        select count(operation_time) from dsas_operationLog where 1=1 and DATE_FORMAT(operation_time, '%Y-%m-%d') = DATE_FORMAT(#{operationTime},'%Y-%m-%d')
    </select>
</mapper>