<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsas.model.dao.PasswordMapper">
    <resultMap id="BaseResultMap" type="com.dsas.model.pojo.Password">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="md5_str" jdbcType="VARCHAR" property="md5Str"/>
        <result column="origin_pwd" jdbcType="VARCHAR" property="originPwd"/>
    </resultMap>
    <insert id="savePwd" parameterType="com.dsas.model.pojo.Password">
        insert into dsas_pwd(md5_str,origin_pwd) values (#{password.md5Str,jdbcType=VARCHAR},#{password.originPwd,jdbcType=VARCHAR})
    </insert>

    <select id="getOriginPwd" parameterType="string" resultType="com.dsas.model.pojo.Password">
        select distinct origin_pwd from dsas_pwd where md5_str = #{md5Str,jdbcType=VARCHAR}
    </select>
</mapper>